﻿@model AccountViewModel
  
@{
    ViewData["Title"] = "BannedUsers";
}

<h1>Ban Users</h1>

<link href="~/css/app.css" rel="stylesheet" />

<div class="container">
    <div class="row">

        <form asp-controller="Account" asp-action="BannedUsers" method="post">


            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
                <strong>
                    <a class="goback" asp-controller="Home" asp-action="Index">  Go Back</a>
                </strong>
            </div>
        </form>
        <div class="col-2">
            <img class="ban" src="~/images/Actions-im-ban-user-icon.png" alt="Sample Photo" />
        </div>

    </div>
</div>
