﻿@model BookViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/app.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <h1>Create Book</h1>
    <div class="container">
        <div class="row">
            <form asp-controller="Book" asp-action="AddBook" method="post">
                @Html.EditorForModel()
                <br />
                <input type="submit" />
                <strong>
                    <a class="goback" asp-controller="Home" asp-action="Index">  Go Back</a>
                </strong>
            </form>
            <div class="col-2">
                <img src="~/images/Wall of Knowledge 1.jpg" alt="Sample Photo" />
            </div>
        </div>
    </div>
</body>
</html>
