﻿@model BookViewModel
@{
    ViewData["Title"] = "LendBook";
}

<h1>Lend Book</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/app.css" rel="stylesheet" />
    <title></title>
</head>
<body>

    <div class="container">
        <div class="row">

            <form asp-controller="Book" asp-action="LendBook" method="post">

                <div class="form-group">
                    <label asp-for="Title " class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <strong>
                        <a class="goback" href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
                    </strong>
                </div>
            </form>
            <div class="col-2">
                <img class="baseSize" src="~/images/LJQZYOSUQFD3LNHOYHCG4OGDRI.jpg" alt="Sample Photo" />
            </div>
        </div>
    </div>
</body>
</html>