﻿@model BookViewModel
@{
    ViewData["Title"] = "RemoveBook";
}

<h1>RemoveBook</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/app.css" rel="stylesheet" />
    <title></title>
</head>
<body>

    <div class="container">
        <div class="row">

            <form asp-controller="Book" asp-action="RemoveBook" method="post">

                <div class="form-group">
                    <label asp-for="ISBN" class="control-label"></label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <strong>
                        <a class="goback" asp-controller="Home" asp-action="Index">  Go Back</a>
                    </strong>
                </div>
            </form>
            <div class="col-2">
                <img class="baseSize" src="~/images/IMG_0473-1-1080x675.jpg" alt="Sample Photo" />
            </div>
        </div>
    </div>
</body>
</html>

