﻿@model BookViewModel

@{
    ViewData["Title"] = "Search Book";
}

<h1>Search Book</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/app.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">

            <form asp-controller="Book" asp-action="SearchBook" method="post">


                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <strong>
                        <a class="goback" asp-controller="Home" asp-action="Index">  Go Back</a>
                    </strong>
                </div>
            </form>
            <div class="col-2">
                <img class="baseSize" src="~/images/icon-2.png" alt="Sample Photo" />
            </div>

        </div>
    </div>
</body>
</html>

