﻿h1 {
    font-size: 50px;
    color: cornflowerblue;
}

h2 {
    font-size: 35px;
}

h4 {
    color: cornflowerblue;
}

strong {
    font-size: 20px;
}

hr {
    width: 60%;
    height: 8px;
}

input[type=submit] {
    color: white;
    text-align: center;
    padding: 7px 16px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: cornflowerblue;
    font-size: 15px;
}

a {
    font-size: 25px;
    white-space: pre;
}
#forgot-password {
    font-size: 15px;
}

.goback {
    font-size: 15px;
    white-space: pre;
    color: cornflowerblue;
    white-space: pre;
}

.ban {
    width: 470px;
    height: 370px;
}


.baseSize {
    width: 700px;
    height: 400px;
}

.homepage {
    width: 1100px;
    height: 500px;
}

.info {
    width: 400px;
    height: 500px;
}

body {
    background-color: lightyellow;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 7px 16px;
    font-size: 25px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightyellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 7px 15px;
        text-decoration: none;
        font-size: 20px;
        display: block;
    }


        .dropdown-content a:hover {
            background-color: transparent;
        }


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: transparent;
}
