﻿.dropbtn {
    background-color: transparent;
    color: black;
    padding: 7px 16px;
    font-size: 25px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightyellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 7px 15px;
        text-decoration: none;
        font-size: 20px;
        display: block;
    }


        .dropdown-content a:hover {
            background-color: transparent;
        }


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: transparent;
}
